# pip install -r requirements.txt
# requirements.txt 의 파일 한번에 설치가 가능한 코드 입니다. 

streamlit==1.43.0
pandas
numpy
altair
pydeck
requests
openpyxl
uuid
Pillow
python-dateutil
matplotlib
scikit-learn
xlsxwriter
cmake
forge 
dlib
face_recognition
requests
uuid
datetime
streamlit_javascript
folium
kafka-python==2.0.2
fredapi==0.4.0
eodhd==1.0.32
plotly==5.18.0
re
socket
pathlib
importlib